<html>

<head>
  <link rel="stylesheet" type="text/css" href="tombtone.css" />
  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
  <title> Tombtone </title>
</head>

<body>
  <!-- <div class="ttHeaderDiv">
    <h3 class="ttHeader"> TOMBTONE </h3>
  </div> -->
  <h3 class="ttHero"> TOMBTONE </h3>

  <div class="ttMenu">
    |
    <a class="ttMenuObj" href="/"> HOME </a>
    |
    <a class="ttMenuObj" href="/about"> ABOUT </a>
    |
    <a class="ttMenuObj" href="/groups"> GROUPS </a>
    |
    <a class="ttMenuObj" href="/shows"> SHOWS </a>
    |
    <a class="ttMenuObj" href="#"> STORE </a>
    |
    <a class="ttMenuObj" href="/contact"> CONTACT </a>
    |
  </div>



  {{{ body }}}

  <img id="gabMacabre" src="media/images/laughing_skull.gif" >

  <div class="ttFooter">
    <hr>
    <p> design by @deusofnull </p>
  </div>
</body>

</html>
