
.ttHeaderDiv {
  height: 40px;
  width: 8em;

}

.ttHero {
  font-family: 'Josefin Slab', serif;
  font-size: 60px;
  text-align: center;
  padding: 15 0 15 0;
  margin: 0 0 0 0;
}

.ttMenu{

  font-family: 'Josefin Slab', serif;

  text-align: center;

}

.ttMenuObj {
  font-size:18;
  color:black;
  text-decoration:none;
  display: inline;
  padding: 0 10 0 10;
}

.ttMenuObj:hover {
  color:inherit;
}
.ttMenuObj:visited {
  color:inherit;
}

.center_image {
  padding: 100 0 100 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.center_text {
  text-align: center;
}

#email_contact {
  padding-top: 95;
  font-family: 'Josefin Slab', serif;
}

#gabMacabre {
  width: 400;
}

#aaron_about {
  width: 400;
  height: 500;
}

#grave_myrbs {
  width: 400;
}

#dork_glitch {
  width: 400;
  height: 400;
}

#squad_crew {
  padding-top: 5;
  width: 400;
}

.ttFooter {
  text-align: center;
}
